* {
    margin: 0;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    background: url('../img/bg_pattern.gif');
    font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

#wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 4px;
}

p {
    font-size: 16px;
    margin: 0 0 15px;
    text-align: start;

}

h1 {
    font-size: 32px;
    text-align: right;
    margin: 0 0 15px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
}

h2 {
    font-size: 25px;
    margin: 0 0 15px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
}

h3 {
    font-size: 22px;
    margin: 0 0 15px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
}

a {
    font-weight: bold;
    color: #920000;
}

a:hover {
    text-decoration: none;
}

#footer {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    background-color: rgb(219, 219, 219);
    margin: auto;
}

.footcont {
    max-width: 960px;
    margin: auto;
}
ol{
    padding: 0;
}
.doc ul {
    padding-left: 20px;
}

.doc li {
    margin: 0 0 15px;
}

.doc {
    background: rgb(246, 246, 246);
    border: 1px solid rgb(221, 221, 221);
    border-left: 0;
    border-right: 0;
    padding: 15px;
    margin: 0 -15px 15px;

}

.doc img {
    width: 150px!important;
    float: left;
    margin: 0 10px 0 0!important;
}

.doc p:last-child {
    margin: 0;
}
.text-center{
    text-align: center;
}
.btn {
    margin: 15px 0;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: 0 1px 2px #222;
    -moz-box-shadow: 0 1px 2px #222;
    box-shadow: 0 1px 2px #222;
    background: #920000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.btn:hover{

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.example {
    position: relative;
    max-width: 960px;
    margin: 0 auto 10px;
    padding: 5px 0;
    border-radius: 5px;
}

#tabs-container {
    clear: both;
    font-size: 11px;
    margin: 0 auto;
    padding: 0;
}

.cartn {
    height: 28px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    background: #920000;
    color: rgb(78, 78, 78);
}

.tabs li {
    float: left;
    list-style: outside none none;
    position: relative;
}

.tabs li span:first-child {
    margin-left: 0;
}

.tabs li span {
    background: none repeat scroll 0 0 #da9090;
    border: medium none;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 2px 0 0;
    padding: 0 30px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.hsp{
    padding-top: 5px;
}

.tabs li.active span {
    background: none repeat scroll 0 0 #920000;
    border-bottom: 1px solid #920000;
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: bold;
    text-decoration: none;
}

.tabs {
    display: block;
    margin: 0;
    height: 28px;
    overflow: hidden;
    padding: 0;
    z-index: 100;
}

#nav-container {
    border-bottom: 0 solid rgb(213, 213, 213);
    border-top: 0 solid rgb(213, 213, 213);
    clear: both;
    font-size: 11px;
    height: 33px;
    margin: -20px auto 0;
    padding: 0;
    background-color: #920000;
    border-radius: 0 5px 5px;
}

.nav li {
    float: left;
    font-size: 10px;
    list-style: outside none none;
    position: relative;
}

.nav li span {
    border: medium none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 0 5px 0 0;
    padding: 5px 20px 5px 8px;
}

.nav {
    display: block;
    margin: 0;
    padding: 5px 0 2px;
    position: absolute;
    z-index: 100;
}

.nav li ul {
    background: none repeat scroll 0 0 rgb(80, 122, 165);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 1px rgb(51, 51, 51);
    color: rgb(34, 34, 34);
    display: none;
    margin: 0;
    padding: 2px 0;
    position: absolute;
    width: 242px;
}

.nav li ul li {
    width: 100%;
}

.nav li ul li a {
    background: none repeat scroll 0 0 rgb(80, 122, 165);
    border: medium none;
    color: rgb(255, 255, 255);
    line-height: 25px;
    margin: 0;
    padding: 0 0 0 8px;
}

.nav li ul li a:hover {
    background: none repeat scroll 0 0 rgb(70, 106, 144);
}


.lotel {
    margin: auto;
    max-width: 960px;
}

.logo {
    line-height: 70px;
    float: left;
    font-size: 42px;
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    color: #920000;
}

.phone {
    margin-top: 25px;
    text-align: right;
}

.feedb {
    margin-top: -12px;
    font-size: 10px;
}

.feedb a {
    color: rgb(246, 132, 40);
}

.feedb a:hover {
    text-decoration: none;
}

.content {
    margin-right: 10px;
    width: 67%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    float: left;
    border: 1px solid #e7c2c2;
}

.cpt_news_short_list,
.cpt_survey,
.cpt_category_tree,
.cpt_maincontent,
.cpt_currency_selection,
.cpt_divisions_navigation,
.cpt_auxpages_navigation {
    text-align: left;
    padding: 10px;
}

.cpt_maincontent {
    padding: 20px 15px;
    background-repeat: no-repeat;
}

.news_viewall {
    padding-bottom: 10px;
    text-align: right;
    font-size: 85%;
}

.post_title {
    color: rgb(102, 102, 102);
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 120%;
}

.post_date {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin: 0 0 15px;
    text-align: right;
}

.post_content {
}

html,
body {
    padding: 0;
    margin: 0;
    direction: rtl;

}

.firebugResetStyles {
    z-index: 2147483646 ! important;
    top: 0 ! important;
    left: 0 ! important;
    display: block ! important;
    border: 0 none ! important;
    margin: 0 ! important;
    padding: 0 ! important;
    outline: 0 none ! important;
    min-width: 0 ! important;
    max-width: none ! important;
    min-height: 0 ! important;
    max-height: none ! important;
    position: fixed ! important;
    transform: rotate(0deg) ! important;
    transform-origin: 50% 50% 0 ! important;
    border-radius: 0 ! important;
    box-shadow: none ! important;
    background: none repeat scroll 0 0 transparent ! important;
    pointer-events: none ! important;
    white-space: normal ! important;
}

style.firebugResetStyles {
    display: none ! important;
}

.firebugResetStyles:before,
.firebugResetStyles:after {
    content: "" ! important;
}

#wrapper .cpt_maincontent img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#wrapper .cpt_maincontent .post_block {
    max-width: 640px;
}

.sitebar {
    float: right;
    width: 30%;
}

.sitebar .blocc {
    background: #ffffff;
    padding: 10px;
    border: 1px solid #e7c2c2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sitebar .blocc a {
    font-weight: normal;
}

.blocc h2 {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.blocc ul {
    padding-left: 20px;
    color: #920000;
}

.blocc ul li {
    margin: 0 0 10px;
}

#comments .comment .avatar-68 {
    width: 50px;
    float: inherit;
    border-radius: 27px;


}



.sitebar .blocc img {
    width: auto;
    max-height: 97%;
    max-width: 97%;
}

#comments-title {
    color: rgb(102, 102, 102);
    font-size: 10px;
    font-weight: 500;
    line-height: 2.6em;
    padding: 0 0 2.6em;
    text-transform: uppercase;
}

.commentlist {
    list-style: outside none none;
    margin: 0 auto;
    width: auto;
    text-align: justify;

}

.commentlist > li.comment {
    background: none repeat scroll 0 0 rgb(246, 246, 246);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    margin: 0 0 15px;
    padding: 15px;
    position: relative;
}
.comment p{
    margin: 0;
}
.comment-meta .fn {
    font-style: normal;
    color: #920000;
    text-decoration: underline;
}

.comment-meta {
    color: rgb(102, 102, 102);
    font-size: 12px;
    line-height: 2.2em;
}

.comment-meta a {
    font-weight: bold;
}

.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}

.commentlist .avatar {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    float: left;
    margin-right: 15px!important;
    margin-bottom: 5px;
}

.time {
    color: #999;
}
@media screen and (max-width: 992px) {
    .sitebar{
        display: none;
    }
    .content{
        width: 100%;
        float: none;
    }
}
@media screen and (max-width: 767px) {

    .tabs li a {
        border: medium none;
        border-radius: 5px 5px 0 0;
        font-size: 12px;
        padding: 4px 20px 8px;
        text-decoration: none;
    }

    .tabs li a:hover {
        background: none repeat scroll 0 0 #920000;
        border-bottom: 1px solid #920000;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .tabs li.active a {
        background: none repeat scroll 0 0 #920000;
        border-bottom: 1px solid #920000;
        border-radius: 5px 5px 0 0;
        color: rgb(255, 255, 255);
        display: block;
        padding: 4px 20px 8px;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }

    .phone img {
        height: 33px;
        width: 222px;
    }

    .feedb {
        padding-top: 5px;
    }


}

@media screen and (max-width: 600px) {
    .logo{
        float: none;
        text-align: center;
    }
    .commentlist{
    }
    .mob{
        display: block;
    }
    .btn{
        font-size: 16px;
    }
    .doc img{
        width: 110px!important;
    }
    .tabs li span{
        font-size: 12px;
        padding: 0 10px;
    }
    p, li{
        font-size: 15px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    .phone img {
        height: 22px;
        width: 148px;
    }

    .phone {
        text-align: left;
        margin-top: 5px;
    }

    .feedb {
        padding-top: 10px;
        padding-left: 25px;
    }


    #comments .comment .avatar-68 {
        width: 40px;
    }
}

.center {
    display: block;
    margin: 0 auto;
}

blockquote {
    width: 100%;
    /* max-width: 480px; */
    display: block;
    margin: 15px auto;
    border-left: 2px solid #333;
    padding: 2px 10px;
    text-align: center;
    font-weight: bold;
    background-color: #eaeaea;
}

#respond {
    padding-left: 27px;
}

#respond .required {
    color: rgb(255, 75, 51);
    font-weight: bold;
}

#respond label {
    color: rgb(136, 136, 136);
    font-size: 12px;
}

#respond input {
    background: none repeat scroll 0 0 rgb(246, 246, 246);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 2px 2px 5px 0 rgb(238, 238, 238) inset;
    display: block;
    margin: 0 0 9px;
    padding: 5px;
    width: auto;
}

#respond textarea {
    background: none repeat scroll 0 0 rgb(246, 246, 246);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 2px 2px 5px 0 rgb(238, 238, 238) inset;
    width: 95%;
}

#respond #submit {
    background: none repeat scroll 0 0 rgb(0, 166, 214);
    border: 0 none;
    box-shadow: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 120px;
}

#respond #submit:hover {
    background: none repeat scroll 0 0 rgb(0, 219, 134);
}


#comments .commentlist .depth-2 p {
    color: #000;
}
